PORT=3001
NODE_ENV=development

POSTGRES_DATABASE_URL=""
POSTGRES_DATABASE_PUBLIC_URL=""
POSTGRES_SSL="false"

# "*", "https://example.com,https://example2.com", "https://example.com"
ALLOWED_ORIGINS="*"
